/* Global styles */

/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #9197AE;
}

.container {
    padding-top: 15px;
    padding-inline: 50px;
    margin-top: 15px;
    margin-inline: 20vw;
    height: 75px;

}
